body{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.titre{

    text-align: center;
}

h2{
    text-align: center;
    text-transform: capitalize;
    height: 25%;
    border: solid 1px ;
    background-color: blueviolet;
  
}

.tache{
    

}

.clic01{
color: honeydew;
font-family:  sans-serif;


}

.newtask01{

display: flex;
justify-content: center;

}


#champ{

}

#btn{

}

footer{

    font-size: smaller;
    font-family:  Times;
    font-style: italic;
    height: 25%;
    bottom: 30px;
}

.citation{

    font-size: smaller;
    font-family:  Times;
    font-style: italic;
    

}