        body {
            margin: 0px;
            padding: 0px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            text-align: center;
            background-color: antiquewhite;
        }
        
        * {
            box-sizing: border-box;
        }
        
        .titre {
            text-align: center;
        }
        
        h2 {
            text-align: center;
            text-transform: capitalize;
            height: 25%;
            border: solid 1px;
            background-color: blueviolet;
        }
        
        .tache {}
        
        .clic01 {
            color: honeydew;
            font-family: sans-serif;
        }
        
        .newtask01 {
            display: flex;
            justify-content: center;
        }
        
        .newtask {
            border: solid 1px;
            background-color: darkgray;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: auto;
            width: 400px;
            height: 500px;
        }
        
        #champ {}
        
        footer {
            font-size: x-small;
            font-family: Times;
            font-style: italic;
            height: 30%;
            bottom: 20px;
        }
        
        .citation {
            font-size: smaller;
            font-family: Times;
            font-style: italic;
            margin-top: 40%;
        }
        
        input {
            width: 150px;
            height: 20px;
            border-radius: 0px;
            border: none;
            /* width: 75%; */
        }
        
        #btn {
            width: 150px;
            height: 40px;
            padding: 10px;
            /* width: 25%; */
            background-color: blueviolet;
            font-size: 16px;
            cursor: pointer;
            transition: 0.3s;
            border-radius: 0;
        }
        
        #btn :hover {
            background-color: rgb(86, 165, 233);
        }
        /* Style the close button */
        
        .text02 {
            position: absolute;
            right: 0;
            top: 0;
            padding: 12px 16px 12px 16px;
        }
        
        .text02:hover {
            background-color: #f44336;
            color: white;
        }
        
        #saisir {
            width: 200px;
            height: 40px;
            text-decoration: none;
            border: none;
        }
        
        p {
            cursor: pointer;
            position: relative;
            padding: 12px 8px 12px 40px;
            list-style-type: none;
            background: #eee;
            font-size: 18px;
            transition: 0.2s;
        }
        
        span .text02 {}
        
        .tasks p span {
            list-style: none;
            border: solid 1px;
            height: 45px;
            line-height: 45px;
            position: relative;
            background-color: #f2f2f2;
            margin-bottom: 8px;
            padding: 0 15px;
            right: 20px;
            text-align: left;
        }
        /* Set all odd list items to a different color (zebra-stripes) */
        
        ul li:nth-child(odd) {
            background: #f9f9f9;
        }
        /* Darker background-color on hover */
        
        ul li:hover {
            background: #ddd;
        }
        /* When clicked on, add a background color and strike out text */
        
        ul li.checked {
            background: rgb(171, 237, 232);
            color: rgb(34, 34, 34);
        }
        
        ul li.checked .close {
            background: #ce2727;
            color: #ddd;
        }
        
        .taks1 {
            border: solid 1px;
        }
        
        .tasks li span {
            position: absolute;
            right: 50px;
            color: #fff;
        }